@model MVCManukauTech.Models.RegisterViewModel
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Register";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<section class="text">
    <h3>Be smart, claim discounts right now and...</h3>
    <h1>@ViewBag.Title.</h1>
</section>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(m => m.SelectedMembershipType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select id="purpose">
                @foreach (var item in Model.MembershipType)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            Html.DropDownListFor(viewModel => viewModel.SelectedMembershipType, new SelectList(Model.MembershipType, "Id", "Name"), "-- Select membership type --", new { @id = "purpose" })
        </div>
    </div>*@


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.Captcha("Try another", "Enter the text you see above:", 5, "Is required field", true)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function XTest() {
        //document.getElementById("Email").value = "test@test.com";
        //document.getElementById("Password").value = "Test12#";
        //document.getElementById("ConfirmPassword").value = "Test12#";

        document.getElementById("CardOwner").value = "Mr Tester";
        document.getElementById("CardType").value = "Visa";
        document.getElementById("CardNumber").value = "1111";
        document.getElementById("CSC").value = "111";
    }

    $(document).ready(function () {
        $('#purpose').on('change', function () {
            if (this.value == 'NonMember') {         
                $("#business").hide();
            }
            else {
                $("#business").show();
            }
        });
    });

</script>