@model MVCManukauTech.Models.ContentViewModel
@{
    ViewBag.Title = "Content Management";
}


@*@using (Html.BeginForm("Index", "ContentAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>Content Admin</h2>
    <h4>Edit content of this site - home page.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-2 control-label" for="HomeHeadingData">@Model.HomeHeadingTitle</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.HomeHeadingData, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="HomeText1Data">@Model.HomeText1Title</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.HomeText1Data, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="CopyrightNoteData">@Model.CopyrightNoteTitle</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CopyrightNoteData, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Update" />
        </div>
    </div>
}*@